<html>
  <head>
	  <Title>nmapper: <%=@title%></Title>
      <style type="text/css" title="currentStyle">
        @import "/css/demo_table.css";
      </style>
    <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/dataTables.sort.js"></script>
    <script type="text/javascript" charset="utf-8">
	  $(document).ready(function() {
		  $('#host').dataTable({
			  "aoColumns": [
			        { "sType": "num-html" },
			        null,
			        null,
			        null
		  ]});
	  } );
    </script>
  </head>
  <body>
    <h1><%= @host.hostname %></h1>

    <table id="host" class="display">
      <thead>
		<tr>
          <th>Port</th>
          <th>Type</th>
          <th>State</th>
          <th>Name</th>
        </tr>
	  </thead>
	  <tbody>
        <% @ports.each do | port | %>
          <tr>
            <td> <a href = <%= "/port/#{port.id}" %>><%= port.port %> </a></td>
            <td> <%= port.type %> </td>
            <td> <%= PortMapping.get(@host.id,port.id).state %> </td>
            <td> <%= port.name %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
