<html>
  <head>
	  <Title>NMapper</Title>
      <style type="text/css" title="currentStyle">
        @import "/css/demo_table.css";
      </style>
    <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/dataTables.sort.js"></script>
    <script type="text/javascript" charset="utf-8">
	  $(document).ready(function() {
		  $('#hosts').dataTable({
			  "aoColumns": [
			        { "sType": "html" },
			        { "sType": "ip-address" },
			        null,
			        null
		  ], "bPaginate": false });
	  } );
    </script>
  </head>

  <body>
    <h1>Hosts</h1>
    <p>
    <a href="/ports">See ports</a>
    <p>
    <table id="hosts" class="display">
      <thead>
        <tr>
          <th>Hostname</th>
          <th>IP Address</th>
          <th># open TCP Ports</th>
          <th># open UDP ports</th>
        </tr>
      </thead>
      <tbody>
          <% @hosts.each do | host | %>
            <% host.hostname = host.ip4 if host.hostname == nil%>
            <tr>
            <td><a href="host/<%= host.id %>"> <%= host.hostname %> </a></td>
            <td> <%=host.ip4%> </td>
            <td> <%=host.tcpcount %> </td>
            <td> <%=host.udpcount %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
