<% if params[:sort_dir] == 'asc' %>
    <% new_sort_dir = 'desc' %>
<% else %>
    <% new_sort_dir = 'asc' %>
<% end %>

<table border="1">
    <tr>
        <th><a href=?sortby=hostname&sort_dir=<%= new_sort_dir %>>Hostname</a></th>
        <th><a href=?sortby=ip4num&sort_dir=<%= new_sort_dir %>>IP Address</a></th>
        <th><a href=?sortby=tcpcount&sort_dir=<%= new_sort_dir %>># open TCP Ports</a></th>
        <th><a href=?sortby=udpcount&sort_dir=<%= new_sort_dir %>># open UDP ports"</a></th>
    </tr>
    <% @hosts.each do | host | %>
        <tr>
            <td><a href="host/<%= host.hid %>"> <%=host.hostname %> </a></td>
            <td> <%=host.ip4%> </td>
            <td> <%=host.tcpcount %> </td>
            <td> <%=host.udpcount %> </td>
        </tr>
    <% end %>
</table>
