<html>
  <head>
	  <Title>nmapper: <%=@title%></Title>
      <style type="text/css" title="currentStyle">
        @import "/DataTables/media/css/demo_table.css";
      </style>
    <script type="text/javascript" charset="utf-8" src="/DataTables/media/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" src="/DataTables/media/js/dataTables.sort.js"></script>
    <script type="text/javascript" charset="utf-8">
	  $(document).ready(function() {
		  $('#ports').dataTable({
			  "aoColumns": [
			        { "sType": "num-html" },
			        null,
			        null,
			        null
		  ], "bPaginate": false });
	  } );
    </script>
  </head>
  <body>
	  <h1>Ports</h1>
<table id="ports" class="display">
	<thead>
      <tr>
        <th>Port</th>
        <th>Name</th>
        <th>Type</th>
        <th>Count</th>
      </tr>
    </thead>
	<tbody>
    <% @u_ports.each do | port | %>
        <tr>
            <td><a href="port/<%= port.port %>"> <%= port.port %> </a></td>
            <td> <%=port.name%> </td>
            <td> <%=port.type %> </td>
            <td> <%=(@ports.all(:port=>port.port)).count %> </td>
        </tr>
    <% end %>
  </tbody>
</table>
